<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<div class="container">
    <form action="/daily" method="post">
        <label for="date">Date</label>
        <input type="text" name="date"/>
        <label for="month">Month</label>
        <input type="text" name="month"/>
        <label for="year">Year</label>
        <input type="text" name="year"/>
        <input class="btn" type="submit">
    </form>
</div>


<%- include('./partials/footer.ejs') %>
</body>
</html>