<!DOCTYPE html>
<html lang="en">

<%- include("./partials/header.ejs") %>

<div class="container">
    <form action="/login" method="post">
        <label for="name">Username</label>
        <input type="text" name="name"/>
        <label for="password">Password</label>
        <input type="password" name="pass"/>
        <input class="btn" type="submit">
    </form>
</div>
<%- include("./partials/footer.ejs") %>
</body>
</html>